* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: 0 auto;
    background-color: white;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

#links a {
    text-decoration: none;
    color: rgb(3, 2, 47);
    background-color: transparent;
    font-weight: bold;
    padding: 10px 10px;
    font-size: 18px;
    text-transform: uppercase;

}

#links a:hover {
    text-decoration: none;
    color: rgb(63, 201, 169);
}

#logo-menu {
    width: 120px;
    height: 51px;
    float:left;
}

#menu {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    /* background-color: #333; */
    width: 100%;
  }
  
  #login i {
    margin:27px;
}